
<div class="vertical-center col-md-8 col-md-offset-2">
  <div class="jumbotron">
    <div class="panel-heading">
      <h1 class="text-center"><span class="lm-logo-lg"><span class="glyphicon glyphicon-link"></span> </span><span class="lm-txt-lg">Linkr.me </h1>
    </div>
    <div class="panel-body">
      <p class="lead text-center">a personal link manager</p>
      <p class="text-center">
        <%= link_to "Sign In", signin_path, class: "btn btn-lg btn-default btn-marketing" %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-default btn-marketing" %>
      </p>
    </div>
  </div>
</div>
