<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
    <div class="jumbotron">
      <h1 class="text-center"><span class="linkr-logo-lg"><span class="glyphicon glyphicon-link"></span> </span><span class="linkr-txt-lg">Linkr.me</span></h1>
      <p class="text-center lead ">a personal link manager</p>
      <p class="text-center">
        <%= link_to "Sign In", signin_path, class: "btn btn-lg btn-default linkr-btn-auth" %>
        <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-default linkr-btn-auth" %>
      </p>
    </div>
  </div>
</div>
