<div class="inner cover">
  <h1 class="cover-heading">linkr.me</h1>
  <p class="lead">a personal link manager</p>
  <p class="lead">
    <span class="buttons">
      <%= link_to "Sign In", signin_path, class: "btn btn-lg btn-default" %>
    </span>
    <span class="buttons">
      <a href="#" class="btn btn-lg btn-default">Visit As Guest</a>
    </span>
  </p>
</div>
