
<div>
  <h1 class="text-center">Linkr.me</h1>
  <p class="lead text-center">a personal link manager</p>
  <p class="text-center">
    <span class="button-margin">
    <%= link_to "Sign In", signin_path, class: "btn btn-lg btn-default" %>
    </span>
    <span class="button-margin">
      <%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-default" %>
    </span>
  </p>
</div>
