<%= render 'links/add_link_form' %>

<div class="row">
  <div class="col-sm-3">
    <% @links.each do |link| %>
      <div class="cell">
        <%= link_to links_path do %>
          <span class="glyphicon glyphicon-edit linkr-edit-link" data-toggle="collapse" href="#collapseExample"aria-hidden="true"></span>
        <% end %>
        <%= link_to link.url, html_options = {target: "_blank"} do %>
          <span style="display: block;">
            <%= link.name %>
          </span>
        <% end %>
        <div class="collapse" id="collapseExample">
          <=% link.url =>
        </div>
      </div>
    <% end %>
  </div>
</div>


<!--  http://stackoverflow.com/questions/18689846/edit-record-in-bootstrap-modal -->
