/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Sticky footer styles
 -------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-image: image-url("bg.jpg");
  background-repeat: no-repeat;
  background-height: 100%;
  color: #fff;
}

.linkr-links-container {
  background: rgba(0,0,0,0.8);
  padding: 10px;
  font: #fff;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background: rgba(0,0,0,0.7);
}

 /* Custom page CSS
 -------------------------------------------------- */
 /* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

/* input[type=checkbox] {
  -ms-transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  transform: scale(2);
} */

.form-control::-webkit-input-placeholder {
 color: #9d9d9d;
}
.form-control:-moz-placeholder { /* older Firefox*/
 color: #333;
}
.form-control::-moz-placeholder { /* Firefox 19+ */
 color: #333;
}
.form-control:-ms-input-placeholder {
 color: #333;
}

input[type='checkbox'] {
  height: 20px;
  width: 20px;
	padding:7px 7px 7px 12px;
	/*margin:0 0 30px 0;*/
	background:#000;
	border:1px solid #fff;
	outline:none;
	color:#000;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	   -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	-webkit-transition: all 0.15s;
	   -moz-transition: all 0.15s;
		-ms-transition: all 0.15s;
		 -o-transition: all 0.15s;
		  	transition: all 0.15s;
}

input[type=checkbox]:focus {
  border-color: yellow;
	-webkit-box-shadow: 0 1px 22px rgba(255, 255, 0, 1)!important;
	   -moz-box-shadow: 0 1px 22px rgba(255, 255, 0, 1)!important;
	        box-shadow: 0 1px 22px rgba(255, 255, 0, 1)!important;
}

input[type=checkbox]:checked {
    background-color: yellow;
}

input[type=checkbox]:checked + span {
    color: #fff;
}


.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.linkr-logo-sm {
  font-size: 9px;
  color: yellow;
}

.linkr-logo-md {
  font-size: 18px;
  color: yellow;
}
.linkr-logo-lg {
  font-size: 36px;
  color: yellow;
}

.linkr-txt-sm {
  font-family: 'Audiowide', cursive;
  font-size: 12px;
  color: yellow;
}

.linkr-txt-md {
  font-family: 'Audiowide', cursive;
  font-size: 24px;
  color: yellow;
}
.linkr-txt-lg {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
  color: yellow;
}

.linkr-remember-checkbox-label {
  color: #9d9d9d;
  font-size: 16px;
}

.linkr-input {
  background-color: rgba(0, 0, 0, 0.7);
  height: 40px;
  width: 350px;
  max-width:90%;
  font-size: 24px;
  display: inline-block;
  color: #FFF;
}

.linkr-input:hover {
  border-color: yellow;
}

.linkr-input:focus {
  border-color: yellow;
  -moz-box-shadow: 0 0 10px yellow;
  -webkit-box-shadow: 0 0 10px yellow;
  box-shadow: 0 0 10px yellow;
}

.linkr-add-link {
  color: #yellow;
}

.modal-header {
  border: none;
  padding-bottom: 0px;
}

.modal-body {
  padding-top: 0px;
}

.linkr-modal-title {
  color: #fff;
}

.linkr-input-link {
  width: 100%;
  max-width: none;
  font-size: 16px;
}

/* .linkr-input-link:focus {
  border-color: green;
  -moz-box-shadow: 0 0 10px green;
  -webkit-box-shadow: 0 0 10px green;
  box-shadow: 0 0 10px green;
} */

/* .linkr-btn-link {
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  margin: 15px 15px 15px 0px;
  width: 220px;
  font-size: 24px;
  font-weight: bold;
  color: green;
  border-color: green;
} */

/* .linkr-btn-link:hover {
  background-color: rgba(0, 255, 0, 0.25);
  color: #000;
  border-color: green;
} */

.linkr-add-close {
  color: #9d9d9d;
  text-shadow: none;
  opacity: 1;
}
.linkr-add-close:hover {
  color: #fff;
  text-shadow: 0 0 20px yellow;
  opacity: 1;
}

.jumbotron {
  margin-top: 5%;
  background: rgba(0,0,0,0.7);
  border: 1px solid #000;
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.4);
/*   max-width: 400px; */
}

.linkr-add-jumbotron {
  margin-top: 10px;
  background: rgba(0,0,0,0.7);
  border: 1px solid #000;
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin-top: 50px;
  background: rgba(0,0,0,0.7);
  border: 1px solid #000;
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.4);
}

.linkr-btn {
  background-color: rgba(0,0,0,0.7);
  margin: 0px 15px;
  width: 160px;
  font-size: 24px;
  color: yellow;
  border-color: yellow;
}

.linkr-btn-marketing {
  padding: 20px;
  margin: 15px;
  width: 220px;
  font-size: 24px;
  font-weight: bold;
}

.linkr-btn:hover {
  background-color: rgba(255, 255, 0, 0.40);
  color: #000;
  border-color: yellow;
}

.linkr-link {
  color: white;
  font-size: 16px;
}

.linkr-link:hover {
  color: yellow;
  text-decoration: none;
}

.linkr-link:hover {
  color: yellow;
  text-decoration: none;
}

.modal {
  margin-top: 30px;
}

.lead {
  color: #FFF;
  font-size: 12px;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.7);
}


@media only screen and (max-width : 480px) {
  .jumbotron {
    padding: 0px;
  }
  .jumbotron p {
    font-size: 16px;
  }
  .lead {
    padding-bottom: 0px;
  }
  .linkr-btn-auth {
    margin: 8px;
    padding: 8px;
    width: 180px;
    font-size: 16px;
  }
  .linkr-btn-link {
    margin: 8px;
    padding: 8px;
    width: 180px;
    font-size: 16px;
  }
  .linkr-logo-lg {
    font-size: 27px;
  }
  .linkr-txt-lg {
    font-size: 36px;
  }
  .linkr-input {
    height: 30px;
    font-size: 16px;
  }
}
