/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* Sticky footer styles
 -------------------------------------------------- */
 html {
   position: relative;
   min-height: 100%;
 }
 body {
   background-color: #FFF;
   /* Margin bottom by footer height */
   margin-bottom: 60px;
   background-image: url("bg.jpg");
 }
 .footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   /* Set the fixed height of the footer here */
   height: 60px;
  background: rgba(0,0,0,0.85);
 }


 /* Custom page CSS
 -------------------------------------------------- */
 /* Not required for template or sticky footer method. */

 body > .container {
   padding: 60px 15px 0;
 }
 .container .text-muted {
   margin: 20px 0;
 }

 .footer > .container {
   padding-right: 15px;
   padding-left: 15px;
 }

 code {
   font-size: 80%;
 }


.lm-logo-sm {
  font-size: 9px;
  color: yellow;
}

.lm-logo-md {
  font-size: 18px;
  color: yellow;
}
.lm-logo-lg {
  font-size: 36px;
  color: yellow;
}

.lm-txt-sm {
  font-family: 'Audiowide', cursive;
  font-size: 12px;
  color: yellow;
}

.lm-txt-md {
  font-family: 'Audiowide', cursive;
  font-size: 24px;
  color: yellow;
}
.lm-txt-lg {
  font-family: 'Audiowide', cursive;
  font-size: 48px;
  color: yellow;
}

.jumbotron {
  background: rgba(0,0,0,0.7);
  border: 1px solid #555555;
  box-shadow: 0 2px 22px rgba(0, 0, 0, 0.4);
}

.btn-marketing {
  background-color: rgba(0,0,0,0.85);
  margin: 16px;
  padding: 20px;
  width: 220px;
  font-size: 24px;
  font-weight: bold;
  color: yellow;
  border-color: yellow;
}

.btn-marketing:hover {
  background-color: rgba(255, 255, 0, 0.40);
  color: #000;
  border-color: #000;
}

.lead {
  color: #FFF;
  padding-bottom: 16px;
}

.navbar-inverse {
  background-color: rgba(0, 0, 0, 0.85);
}
