<div class="alert
    <%=
    case type.to_sym
    when :alert, :danger, :error, :validation_errors
        'alert-danger'
    when :warning, :todo
        'alert-warning'
    when :notice, :success
        'alert-warning'
    else
        'alert-info'
    end
    %>
     alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <%= content %>
      <script>
        // setTimeout("$('.alert-success').fadeOut('slow')", 1500)
        window.setTimeout(function() {
            $(".alert-warning").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 1000);
      </script>
</div>


